@charset "UTF-8";

.person-content{
    height: 100%;
    width: 50%;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.person-content div h1{
    color: transparent;
    padding: 0px 4px;
    font-size: 4.5rem;
    line-height: 6rem;
    animation: written_text 5s ease forwards;
}
